SF:
  google:
    login: <YOUR GOOGLE LOGIN>
    password: <YOUR GOOGLE PASSWORD>
    spreadsheet_key: <GOOGLE SPREADSHEET KEY>
  db:
    username: <MYSQL USER>
    password: <MYSQL PASS>
    host: <MYSQL HOST>
    database: <MYSQL DB>
  calendar:
    login: LOGIN
    password: PASSWORD
  status_mail_to: yuriy@cater2.me
NY:
  google:
    login: <YOUR GOOGLE LOGIN>
    password: <YOUR GOOGLE PASSWORD>
    spreadsheet_key: <GOOGLE SPREADSHEET KEY>
  db:
    username: <MYSQL USER>
    password: <MYSQL PASS>
    host: <MYSQL HOST>
    database: <MYSQL DB>
  calendar:
    login: calendarNY@cater2.me
    password: 156cater
  status_mail_to: kathy@cater2.me