SF:
  google:
    login: LOGIN
    password: PASSWORD
  contributors:
    - email@cater2.me
    - email2@cater2.me
  db:
    username: USER
    password: PASSWORD
    host: HOST
    database: DB
  calendar:
    login: LOGIN
    password: PASSWORD
  status_mail_to: yuriy@cater2.me
NY:
  google:
    login: LOGIN
    password: PASSWORD
  db:
    username: USER
    password: PASSWORD
    host: HOST
    database: DB
  calendar:
    login: calendarNY@cater2.me
    password: 156cater
  status_mail_to: kathy@cater2.me
